.btnHover {
  padding: 8px 5px;
  width: 120px;
  border-radius: 7px;
  font-size: 12px;
  background-color: #e8eefd;
  color: #abc3ef;
  border: none;
  transition: all 0.5s;
  outline: 0;
  cursor: pointer;
}
.btnHover:hover {
  color: #83a3de;
  background-color: #d8dff1;
}
.modalStyles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 372px;
  height: 510px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 24;
}
.crossIconStyle {
  position: absolute;
  top: -30px;
  cursor: pointer;
  right: 0;
}
